$colorhrs:rgb(127, 22, 22);
$fuentedancur: "Dancing Script", cursive;
$colorh1: red;
$coloh2:#ff0000;
$tablet: 768px;
$mobile: 480px;



@mixin responde-a($dispositivo) {
  @if $dispositivo == tablet {
    @media (max-width: $tablet) { @content; }
  }
  @if $dispositivo == mobile {
    @media (max-width: $mobile) { @content; }
  }
}